<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>共享图书</title>
    <link href="css/login.css" rel="stylesheet">
    <script src="js/jquery-1.8.3.min.js"></script>
</head>
<script>
    $(document).ready(function () {
         $('#signup').click(function () {
             //console.log('hhhh');
             $('.signup').css({
                 'transform':'rotateX(0deg)'

             });
             $('.login').css({
                 'transform':'rotateY(-180deg)',
                 'backface-visibility': 'hidden'
             })
         });
        $('#login').click(function () {
            $('.signup').css({
                'transform':'rotateY(180deg)',
                'backface-visibility': 'hidden'
            });
            $('.login').css({
                'transform':'rotateY(0deg)'

            })
        });
        changeImage();
        function changeImage(){
            var img = ['image1.jpg','image2.jpg','image3.jpg','image4.jpg'];
            //console.log(img);
            //var Bg = document.getElementsByName('body');
            //console.log(typeof Bg);
            var change = parseInt(Math.random()*img.length);
            var span = document.getElementById('imgplace');
            //console.log(change);
            //console.log('image'+change);
            var index = 'image'+change;
            //document.body.style.backgroundImage = ""
            span.innerHTML = '<span style="background-image: url('+'img/'+img[change]+');"></span>';
            span.style.opacity = 0.5;
        }
        setInterval(changeImage,3000)
    })
</script>
<body>
  <div class="logo">
      <img src="img/logo.png">
  </div>
  <span id="imgplace"></span>
  <div id="content" class="logsign">
      <div class="login">
           <form action="#" method="post" class="form-login">
               <h2 class="title">欢迎登录共享图书</h2>
               <label for="name">用户名</label>
               <input type="text" placeholder="请输入用户名" id="name" name="username"/>
               <label for="password1">密码</label>
               <input type="password" placeholder="请输入密码" id="password1" name="password"/>
               <span class='btn' id='signin'>登录</span>
               <span class='btn-signup' id="signup">注册</span>
           </form>
      </div>
      <div class="signup">
          <form action="#" method="post" class="form-signup">
              <h2 class="title">注册</h2>
              <label for="username">用户名</label>
              <input type="text" id="username" name="username" placeholder="请输入用户名">
              <label for="email">邮箱</label>
              <input type="email" name="email" id="email" placeholder="邮箱">
              <label for="password">密码</label>
              <input type="password" id="password" name="password" placeholder="密码">
              <label for="repassword">再输入一次密码</label>
              <input type="password" id="repassword" name="repassword" placeholder="重复输入密码">
              <span class='btn' id='done'>注册</span>
              <span class='btn-login' id="login">登录</span>
          </form>
      </div>
  </div>
</body>
<script>
    $("#signin").click(function () {
        var loginName = $('#name').val();
        var loginPasswd = $('#password1').val();
        $.ajax({
            url: 'http://localhost:8080/myLogin',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            accept: 'application/json',
            data : JSON.stringify({'loginName':loginName,'loginPasswd':loginPasswd}),
            success: function(data){
                if(data.status == 1) {
                    console.log(data.content);
                } else {
                    console.log(data.content);
                }
            }
        });

    })
</script>
</html>