<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div class="chatContainer" id="chatPeo">
    <div class="chatBox">
        <div class="chatBox-head">
            <div class="chatBox-head-two" style="display: block;">
                <div class="chat-return"><a href="index.html" style="text-decoration: none;color: #FFFFFF;">返回</a></div>
                <div class="chat-people" style="width: 280px;margin: 0 auto;text-align: center;">
                    <div class="ChatInfoName">{{messages[0].receiveName}}</div>
                </div>
            </div>
        </div>
        <div class="chatBox-info" style="height: 187px;">
            <div class="chatBox-kuang" ref="chatBoxkuang" style="height: 187px; display: block;">
                <div class="chatBox-content" style="height: 141px;">
                    <div class="chatBox-content-demo" id="chatBox-content-demo" style="height: 141px;">
                        <div class="clearfloat" v-for="chat in messages">
                            <div class="author-name">
                                <small class="chat-date">{{chat.displayDateTime}}</small>
                            </div>
                            <div class="left" v-if="chat.isSend == 0">
                                <div class="chat-avatars"><img :src="chat.receivePortrait" alt="头像"></div>
                                <div class="chat-message">
                                    {{chat.message}}
                                </div>
                            </div>
                            <div class="right" v-else>
                                <div class="chat-avatars" style="float: right;"><img :src="chat.sendPortrait" alt="头像"></div>
                                <div class="chat-message">
                                    {{chat.message}}
                                </div>
                            </div>
                        </div>
                </div>
                <div class="chatBox-send">
                    <div class="div-textarea" contenteditable="true" style="width: 323px;"></div>
                    <div>
                        <button id="chat-fasong" class="btn-default-styles" @click="send()"><i class="iconfont icon-fasong"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/vue.min.js"></script>
<script>

    window.onload = function () {
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            //console.log(query);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                if(pair[0] == variable){return pair[1];}
            }
            return(false);
        }

        var messageVue = new Vue({
            el:'#chatPeo',
            data:{
                messages:''
            },
            created:function () {
                $.ajax({
                    url: '/findMessage/' + getQueryVariable('receiveid'),
                    type: 'GET',
                    dataType: 'json',
                    cache:false,
                    contentType: 'application/json',
                    accept: 'application/json',
                    success: function (data) {
                        //console.log(data);
                        messageVue.messages= data;
                        console.log((messageVue.messages));
                    }
                })
            },
            methods:{
                send:function () {
                    var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>');
                    console.log(textContent);
                    //console.log(getQueryVariable('receiveid'));
                    var id = getQueryVariable('id');
                    var receiveid = getQueryVariable('receiveid');
                    console.log(receiveid)
                    if (textContent != "") {
                        var date = new Date();
                        var time = date.getFullYear() + "-" +  (date.getMonth()+1)+ "-" +  date.getDate() + " " +  date.getHours()+ ":" + date.getMinutes() + ":" + date.getSeconds();
                        $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                            "<div class=\"author-name\"><small class=\"chat-date\">"+time+"</small> </div> " +
                            "<div class=\"right\"> <div class=\"chat-message\"> " + textContent + " </div> " +
                            "<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>");
                        //封装消息
                        var payload = JSON.stringify({ 'sendId' : id, 'receiveId' : receiveid, 'message' : textContent });
                        stomp.send("/app/chat", {}, payload);

                        //发送后清空输入框
                        $(".div-textarea").html("");
                        //聊天框默认最底部
                        $(document).ready(function () {
                            $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
                        });
                    }
                    //console.log('gggg');
                }
            }
        })

    }

    //链接endpoint名称为 "/endpointChat" 的endpoint。
    var sock = new SockJS("/wtc");
    var stomp = Stomp.over(sock);
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        //console.log(query);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }
    var id = getQueryVariable('id');
    console.log('----------------------------------');
    console.log(id);
    stomp.connect('guest', 'guest', function(frame) {

        /**  订阅了/user/queue/notifications 发送的消息,这里用在控制器的 convertAndSendToUser 定义的地址保持一致, 
         *  这里多用了一个/user,并且这个user 是必须的,使用user 才会发送消息到指定的用户。 
         *  */
        stomp.subscribe('/user/' + id + '/message', handleNotification);
    });

    function handleNotification(message) {
        console.log("收到消息----->" + message);
        console.log("收到消息----->" + message.body);
        var object = JSON.parse(message.body);
        if (object.receiveId == id) {     //当收到的消息中的接受方ID和当前用户ID一样时，刷新聊天框
            //console.log(object);
            var date = new Date();
            var time = date.getFullYear() + "-" +  (date.getMonth()+1)+ "-" +  date.getDate() + " " +  date.getHours()+ ":" + date.getMinutes() + ":" + date.getSeconds();
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">"+ time+"</small> </div> " +
                "<div class=\"left\"> <div class=\"chat-message\"> " + object.message + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>");
        }
    }

    screenFuc();
    function screenFuc() {
        var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
        //屏幕小于768px时候,布局change
        var winWidth = $(window).innerWidth();
        if (winWidth <= 768) {
            var totalHeight = $(window).height(); //页面整体高度
            $(".chatBox-info").css("height", totalHeight - topHeight);
            var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
            //中间内容高度
            $(".chatBox-content").css("height", infoHeight - 46);
            $(".chatBox-content-demo").css("height", infoHeight - 46);

            $(".chatBox-list").css("height", totalHeight - topHeight);
            $(".chatBox-kuang").css("height", totalHeight - topHeight);
            $(".div-textarea").css("width", winWidth - 64);
        } else {
            $(".chatBox-info").css("height", 495);
            $(".chatBox-content").css("height", 448);
            $(".chatBox-content-demo").css("height", 448);
            $(".chatBox-list").css("height", 495);
            $(".chatBox-kuang").css("height", 495);
            $(".div-textarea").css("width", 260);
        }
    }
    (window.onresize = function () {
        screenFuc();
    })();
    //未读信息数量为空时
    var totalNum = $(".chat-message-num").html();
    if (totalNum == "") {
        $(".chat-message-num").css("padding", 0);
    }
    $(".message-num").each(function () {
        var wdNum = $(this).html();
        if (wdNum == "") {
            $(this).css("padding", 0);
        }
    });
</script>
</body>
</html>