<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/forget.css">
    <link href="css/mui.min.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />
</head>
<body>
	<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">找回密码</h1>
	</header>
<div class="content">
    <div class="options">
        <div class="progress">
            <div class="progress-bar">
                <div class="progress-list focus"></div>
                <div class="progress-list focus"></div>
                <div class="progress-list"></div>
                <div class="progress-list"></div>
            </div>
            <div class="progress-messagebox">
                <div class="progresstext focus">
                    <em>1</em>
                    <br/>
                    <strong>填写账户名</strong>
                </div>
                <div class="progresstext focus">
                    <em>2</em>
                    <br/>
                    <strong>验证身份</strong>
                </div>
                <div class="progresstext">
                    <em>3</em>
                    <br/>
                    <strong>设置新密码</strong>
                </div>
                <div class="progresstext">
                    <em>4</em>
                    <br/>
                    <strong>完成</strong>
                </div>
            </div>
        </div>
        <div class="forget-pwd">
            <div class="space">
                <span>用户名:</span>
                <input type="text" id="name" disabled>
            </div>
            <div class="space">
                <span>验证邮箱:</span>
                <input type="text" id="email" disabled>
            </div>
            <div class="submit">
                <input type="submit" value="下一步" onclick="sendEmail()">
            </div>
        </div>
    </div>
</div>
<script src="js/mui.min.js"></script>
<script src="js/app.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
<script>
    window.onload = function(){
        //console.log(getQueryVariable("name"));
        //console.log(getQueryVariable("email"));
        $("#name").val(getQueryVariable("name"));
        $("#email").val(getQueryVariable("email"));
    }

    mui.init({
        swipeBack: true //启用右滑关闭功能
    })

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        //console.log(query);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }

    function sendEmail() {
        var loginName = $('#name').val();
        var email = $('#email').val();
        $.ajax({
            url: '/sendEmail?loginName=' + loginName + "&email=" + email,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            accept: 'application/json',
            success: function(data){
                if(data.status == 1) {
                   mui.toast(data.content);
                } else {
                    mui.toast(data.content);
                }
            }
        });
    }
</script>
</body>
</html>