<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//testMybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xust.wtc.Dao.admin.AdminMapper">

    <resultMap id="bookInfo" type="com.xust.wtc.Entity.admin.BookInfo">
        <result property="bookStockId" column="stock_id"/>
        <result property="bookName" column="title"/>
        <result property="author" column="author"/>
        <result property="userName" column="person_name"/>
        <result property="stockStatus" column="status" typeHandler="com.xust.wtc.typeHandle.BookBorrowSituationTypeHandler"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="feedbackInfo" type="com.xust.wtc.Entity.chat.Feedback">
        <result property="personName" column="person_name"/>
        <result property="feedbackContent" column="feedback_content"/>
        <result property="feedbackContact" column="feedback_contact"/>
    </resultMap>

    <resultMap id="lendInfo" type="com.xust.wtc.Entity.admin.LendInfo">
        <result property="lendId" column="lend_id"/>
        <result property="borrowerAddress" column="borrower_address"/>
        <result property="borrowerName" column="borrower_name"/>
        <result property="lenderAddress" column="lender_address"/>
        <result property="lenderName" column="lender_name"/>
        <result property="lendStatus" column="lend_status" typeHandler="com.xust.wtc.typeHandle.LendStatusTypeHandler"/>
        <result property="logisticsId" column="logistics_id"/>
        <result property="logisticsNumber" column="logistics_number"/>
        <result property="logisticsStatus" column="logistics_status" typeHandler="com.xust.wtc.typeHandle.LogisticsStatusTypeHandler"/>
        <result property="logisStatus" column="logis_status" typeHandler="com.xust.wtc.typeHandle.LogisStatusTypeHandler"/>
        <result property="lenderLoginName" column="lender_login_name"/>
        <result property="borrowerLoginName" column="borrower_login_name"/>
        <result property="title" column="title"/>
    </resultMap>

    <!-- 书籍显示 -->
    <select id="findBookInfo" resultMap="bookInfo">
        SELECT stock.stock_id, person_name, title, author, stock.status
        FROM person
        JOIN stock ON person.person_id = stock.person_id
        JOIN book ON stock.book_id = book.book_id
        ORDER BY stock.stock_id DESC
    </select>

    <select id="findFeedbackInfo" resultMap="feedbackInfo">
        SELECT person_name, feedback_content, feedback_contact
        FROM feedback JOIN person ON feedback.person_id = person.person_id
        ORDER BY feedback.create_date DESC
    </select>

    <select id="findLendInfo" resultMap="lendInfo">
        SELECT lend.lend_id, borrower_address, borrower_name,
        lender_address, lender_name, lend.status lend_status,
        logistics_id, logistics_number, logistics_status,
        logistics.status logis_status, lender.login_name lender_login_name,
        borrower.login_name borrower_login_name, title
        FROM lend LEFT JOIN logistics ON logistics.lend_id = lend.lend_id
        JOIN stock ON lend.stock_id = stock.stock_id
        JOIN book ON stock.book_id = book.book_id
        JOIN person borrower ON borrower.person_id = lend.borrower_id
        JOIN person lender ON lender.person_id = stock.person_id
    </select>

    <!-- 修改库存状态为借出 -->
    <update id="updateStockStatus" parameterType="int">
        UPDATE stock
        SET status = 3
        WHERE stock.stock_id = #{id}
    </update>

    <!--删除库存书籍-->
    <update id="deleteStock" parameterType="int">
        UPDATE stock
        SET status = 0
        WHERE stock.stock_id = #{id}
    </update>

    <!-- 关单 -->
    <select id="closeOrder" parameterType="int" statementType="CALLABLE">
        {call closeOrder(#{id,mode=IN})}
    </select>

</mapper>