<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//testMybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xust.wtc.Dao.book.BookMapper">

    <insert id="addBook" parameterType="com.xust.wtc.Entity.Book" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO book(isbn, title, image, author, translator, publisher, pubdate, summary, price)
        VALUES(#{isbn,javaType=string}, #{title,javaType=string}, #{image,javaType=string},
               #{author,javaType=string}, #{translator,javaType=string}, #{publisher,javaType=string},
               #{pubdate,javaType=string}, #{summary,javaType=string}, #{price,javaType=string});
    </insert>

</mapper>