<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//testMybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xust.wtc.Dao.book.StockMapper">

    <resultMap id="bookStock" type="com.xust.wtc.Entity.book.Stock">
        <result property="stockID" column="stock_id"/>
        <result property="personID" column="person_id"/>
        <result property="personName" column="person_name"/>
        <result property="portrait" column="portrait"/>
        <result property="stockStatus" column="status" typeHandler="com.xust.wtc.typeHandle.BookBorrowSituationTypeHandler"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- 增加一个库存 -->
    <insert id="addStock">
        INSERT INTO stock(person_id, book_id)
        VALUES(#{personId,javaType=INTEGER},#{bookId,javaType=INTEGER})
    </insert>

    <!-- 根据书籍ID查找库存 -->
    <select id="findBookStock" parameterType="int" resultMap="bookStock">
        SELECT stock_id,stock.person_id,portrait,person_name,stock.status
        FROM stock JOIN person ON stock.person_id = person.person_id
        WHERE book_id = #{id}
    </select>

    <!-- 修改库存状态为借出 -->
    <update id="updateStockStatus" parameterType="int">
        UPDATE stock
        SET status = 3
        WHERE stock.stock_id = #{id}
    </update>

</mapper>