<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//testMybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xust.wtc.Dao.user.UserMapper">

    <resultMap id="user" type="com.xust.wtc.Entity.user.Person">
        <result property="id" column="person_id" javaType="int"/>
        <result property="name" column="person_name" javaType="string"/>
        <result property="loginName" column="login_name" javaType="string"/>
        <result property="loginPasswd" column="login_passwd" javaType="string"/>
        <result property="status" column="status" javaType="int"/>
        <result property="balance" column="balance" javaType="int"/>
        <result property="gender" column="gender" javaType="int"/>
        <result property="autograph" column="autograph" javaType="string"/>
        <result property="email" column="email" javaType="string"/>
        <result property="portrait" column="portrait" javaType="string"/>
    </resultMap>

    <sql id="field">
        person_id, person_name, login_name, login_passwd, status, balance, gender, autograph, email, portrait
    </sql>

    <insert id="register" parameterType="com.xust.wtc.Entity.user.Person">
        INSERT INTO person(person_name, login_name, login_passwd, gender, autograph, email)
        VALUES (#{name}, #{loginName}, #{loginPasswd}, #{gender}, #{autograph}, #{email})
    </insert>

    <select id="findUserByLoginName" parameterType="string" resultMap="user">
        SELECT
        <include refid="field"/>
        FROM person
        WHERE login_name = #{loginName};
    </select>

    <!-- 根据ID查询用户信息 -->
    <select id="findUser" parameterType="int" resultMap="user">
        SELECT
        <include refid="field"/>
        FROM person
        WHERE person_id = #{id}
    </select>

    <!--修改密码-->
    <update id="modifyPassWd">
        UPDATE person
        SET login_passwd = #{passwd}
        WHERE login_name = #{name}
    </update>

    <!--修改头像-->
    <update id="modifyPortrait">
        UPDATE person
        SET portrait = #{portrait}
        WHERE person_id = #{id}
    </update>

    <!-- 根据用户提供的资料修改用户信息 -->
    <update id="updateUserInfo" parameterType="com.xust.wtc.Entity.user.Person">
        UPDATE person
        <set>
            <if test="name != null and name != ''">
                person_name = #{name}
            </if>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender}
            </if>
            <if test="autograph != null and autograph != ''">
                autograph = #{autograph}
            </if>
        </set>
        WHERE person_id = #{id}
    </update>

    <insert id="insertFeedback">
        INSERT INTO feedback(person_id, feedback_content, feedback_contact)
        VALUES (#{id}, #{feedbackContent}, #{feedbackContact})
    </insert>
</mapper>